__pycache__/
*.py[cod]
*.egg-info/
.Python
build/
dist/
.pytest_cache/

.venv/
venv/
env/

.idea/
.vscode/

.DS_Store
Thumbs.db

data/raw/
data/interim/images/
data/processed/images/
data/uploads/

models/*.pt
models/*.pth
models/*.onnx
runs/
logs/
*.log

.ipynb_checkpoints/

demos/*.mov
